.b {
    border-color: blueviolet;
    padding: 15px;
    margin: 15px;
   

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.nav-container {
    display: flex;
    justify-content: center;
    align-content: center;

}

.main-container {
    display: flex;
    flex: 80%;
    height: 600px;
    justify-content: space-between;
    align-content: center;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-content: last baseline;
    
}